<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QLSoTK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QLSTKConnection" connectionString="Data Source=DESKTOP-FO4AVL7\SQLEXPRESS;Initial Catalog=QLSTK;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <QLSoTK.Properties.Settings>
      <setting name="userName" serializeAs="String">
        <value />
      </setting>
      <setting name="passWord" serializeAs="String">
        <value />
      </setting>
    </QLSoTK.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="SecurityKey" value="Syed Moshiur Murshed"/>
    <add key="BackupFolder" value="C:/temp/"/>
    <add key="serverName" value="Data Source=DESKTOP-FO4AVL7\SQLEXPRESS;Integrated Catalog=QLSTK Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add key="databaseName" value="QLSTK"/>
   <add key="userSQl" value="DESKTOP-FO4AVL7\Phuoc"/>
  </appSettings>
</configuration>